---
import CodeCard from "@components/CodeCard.astro";
import Sidebar from "@components/Sidebar.astro";
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";
import { css } from "styled-system/css";
import { grid } from "styled-system/patterns";

const allSnippets = await getCollection("snippets");
const snippets = allSnippets.map((snippet) => snippet.data);
const tags = snippets.flatMap((snippet) => snippet.tags);
---

<script>
  const handleCopy = async (
    block: HTMLPreElement,
    snackbar: Element | null
  ) => {
    await navigator.clipboard.writeText(block.innerText);
    snackbar?.classList.add("show");
    snackbar?.classList.remove("hide");

    setTimeout(() => {
      snackbar?.classList.remove("show");
      snackbar?.classList.add("hide");
    }, 3000);
  };

  const cards = document.querySelectorAll("[data-copy]");
  const snackbar = document.querySelector("[data-snackbar]");

  cards.forEach((card) => {
    const blocks = card.querySelectorAll("pre");
    blocks.forEach((block) => {
      card.addEventListener("click", () => handleCopy(block, snackbar));
    });
  });
</script>

<Layout title="Kitto">
  <Sidebar tags={tags} />
  <div
    class={grid({
      columns: { md: 2, lg: 3 },
      gap: "4",
      overflowY: "auto",
    })}
  >
    {
      snippets.map((snippet) => (
        <div data-copy>
          <CodeCard
            title={snippet.title}
            tags={snippet.tags}
            code={snippet.code}
            lang={snippet.lang}
          />
        </div>
      ))
    }
  </div>
  <span
    data-snackbar
    class={css({
      rounded: "full",
      position: "absolute",
      justifyContent: "center",
      alignItems: "center",
      color: "green.300",
      backgroundColor: "green.950",
      borderColor: "green.800",
      bottom: "0",
      left: 0,
      right: 0,
      borderWidth: 1,
      py: 1.5,
      px: 4,
      width: "fit-content",
      ml: "auto",
      mr: "auto",
      transition: "transform 0.1s ease-in-out",
    })}
  >
    Copié
  </span>
</Layout>

<style>
  [data-snackbar] {
    transform: translateY(150%);
  }

  [data-snackbar].show {
    transform: translateY(-100%);
  }

  [data-snackbar].hide {
    /* opacity: 0; */
    transform: translateY(150%);
  }
</style>
